NodeRed/Localization.json
[
    {
        "id": "325c5b48.f6846c",
        "type": "tab",
        "label": "Localization",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1863312.1252a8",
        "type": "scanBeacon",
        "z": "325c5b48.f6846c",
        "name": "",
        "beacon_uuid": "",
        "beacon_major": "",
        "beacon_minor": "",
        "x": 480.3690185546875,
        "y": 410.77386474609375,
        "wires": [
            [
                "1e8f8f41.4c3981",
                "781e71cd.e855b"
            ]
        ]
    },
    {
        "id": "ce4afde8.b9a07",
        "type": "udp out",
        "z": "325c5b48.f6846c",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "12346",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1130.1072998046875,
        "y": 448.559814453125,
        "wires": []
    },
    {
        "id": "b5b64a05.90da8",
        "type": "debug",
        "z": "325c5b48.f6846c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1261.958251953125,
        "y": 630.4166259765625,
        "wires": []
    },
    {
        "id": "e8d1a121.2d5348",
        "type": "json",
        "z": "325c5b48.f6846c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1098.708251953125,
        "y": 623.1666259765625,
        "wires": [
            [
                "b5b64a05.90da8"
            ]
        ]
    },
    {
        "id": "1e8f8f41.4c3981",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Add Timestamp and Filter",
        "func": "var pay = JSON.parse(msg.payload)\nvar ts = new Date().getTime()\npay.timestamp = ts\nmsg.payload = JSON.stringify(pay)\n\nvar last_meas = context.global.get('last_measure')\nif(pay.uuid != last_meas.uuid || pay.major != last_meas.major || pay.minor != last_meas.minor || (ts - last_meas.timestamp) >= 10 ){\n    msg.check = 1\n}else{\n    msg.check = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 808.333251953125,
        "y": 396.9166259765625,
        "wires": [
            [
                "a7d03488.d6a46"
            ]
        ]
    },
    {
        "id": "a7d03488.d6a46",
        "type": "switch",
        "z": "325c5b48.f6846c",
        "name": "Check",
        "property": "check",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 652.8331298828125,
        "y": 534.4163818359375,
        "wires": [
            [
                "693afa93.a0a82c"
            ]
        ]
    },
    {
        "id": "693afa93.a0a82c",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Update last_measure",
        "func": "context.global.set('last_measure', JSON.parse(msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 873.208251953125,
        "y": 547.1666259765625,
        "wires": [
            [
                "ce4afde8.b9a07",
                "e8d1a121.2d5348"
            ]
        ]
    },
    {
        "id": "4aedc9c8.cc4da",
        "type": "http in",
        "z": "325c5b48.f6846c",
        "name": "",
        "url": "/where-is-berry/localization",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 407.5,
        "y": 817,
        "wires": [
            [
                "827639c9.ade8c8"
            ]
        ]
    },
    {
        "id": "2c03280c.0a7e4",
        "type": "http response",
        "z": "325c5b48.f6846c",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 1115.5,
        "y": 817,
        "wires": []
    },
    {
        "id": "448a156.c03c8ec",
        "type": "udp in",
        "z": "325c5b48.f6846c",
        "name": "",
        "iface": "",
        "port": "12347",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 340,
        "y": 737,
        "wires": [
            [
                "dafec9ec.a94008"
            ]
        ]
    },
    {
        "id": "dafec9ec.a94008",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Store Location",
        "func": "function replaceAll(str, source, target) {\n  return str.split(source).join(target);\n}\ndata = msg.payload\n    data = replaceAll(data, \"\\'\", \"\\\"\")\n    data = JSON.parse(data)\n    context.global.set(\"location\",data)\n    msg.payload = data\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 737,
        "wires": [
            [
                "b06fe754.edf44"
            ]
        ]
    },
    {
        "id": "827639c9.ade8c8",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Get Location",
        "func": "msg.payload = context.global.get(\"location\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 667.5,
        "y": 817,
        "wires": [
            [
                "ceca6d03.ad75b"
            ]
        ]
    },
    {
        "id": "b06fe754.edf44",
        "type": "debug",
        "z": "325c5b48.f6846c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 737,
        "wires": []
    },
    {
        "id": "eb3615e8.93574",
        "type": "inject",
        "z": "325c5b48.f6846c",
        "name": "Start Beacon",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 241,
        "y": 464.5,
        "wires": [
            [
                "b1863312.1252a8"
            ]
        ]
    },
    {
        "id": "c8df1dca.803818",
        "type": "inject",
        "z": "325c5b48.f6846c",
        "name": "Stop Beacon",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 239.78582763671875,
        "y": 579.2858276367188,
        "wires": [
            [
                "b1863312.1252a8"
            ]
        ]
    },
    {
        "id": "781e71cd.e855b",
        "type": "debug",
        "z": "325c5b48.f6846c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 822.75,
        "y": 244,
        "wires": []
    },
    {
        "id": "dcde606a.eabdd8",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Initialize State",
        "func": "if (context.global.get(\"state\") === undefined){\n    context.global.set(\"state\",\"stopped\")\n}\nif (context.global.get(\"last_measure\") === undefined){\n    context.global.set(\"last_measure\", {'timestamp' : 0, 'uuid' : \"\", 'major' : undefined, 'minor' : undefined})\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 236,
        "wires": [
            []
        ]
    },
    {
        "id": "ceca6d03.ad75b",
        "type": "template",
        "z": "325c5b48.f6846c",
        "name": "Build response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n    <script src=\"https://cdn.plot.ly/plotly-latest.min.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <!--<script src=\"/home/luca/where-is-berry/NodeRed/lib/plotly-latest.min.js\"></script>-->\n</head>\n<body>\n<div id=\"map\" style=\"width:600px;height:250px;\"></div>\n<script>\n\tvar map = document.getElementById('map');\n \n   \n    var pos = {\n        x: [],\n        y: [],\n        type: 'scatter'\n    };\n    \n    pos_data = {\n        x : [],\n        y : [],\n        z : []\n    };\n    x = [];\n    y = [];\n    z = [];\n \n    var map_data = [pos];\n    \n    var layout = {\n        autosize: false,\n        width: 500,\n        height: 500,\n        xaxis: {range: [0, 5]},\n        yaxis: {range: [5, 0]}\n        \n    };\n \n    Plotly.newPlot(map, map_data,layout );\n    \n    function update(){\n        $.getJSON( \"http://localhost:1880/where-is-berry/getLocation\", function(response){updatePlotBatch(response)});\n    }\n    \n    function updatePlotSingle(data){\n        Plotly.restyle(map, 'x', [[data.x]]);\n\t    Plotly.restyle(map, 'y', [[data.y]]);\n    }\n    \n    function updatePlotBatch(data){\n        if(data.x != x[x.length-1] && data.y != y[y.length-1]){\n            x.push(data.x)\n            y.push(data.y)\n        }\n        if(x.length >= 10){\n          x.splice(0,1);  \n          y.splice(0,1);  \n        }\n        \n        Plotly.restyle(map, 'x', [x]);\n\t    Plotly.restyle(map, 'y', [y]);\n    }\n\n\t\n\n    setInterval(function(){update();},2);\n\t\n\t\n\t\n\t\n</script>\n</body>",
        "output": "str",
        "x": 883,
        "y": 814.5,
        "wires": [
            [
                "2c03280c.0a7e4"
            ]
        ]
    },
    {
        "id": "c9e54ae9.207a38",
        "type": "inject",
        "z": "325c5b48.f6846c",
        "name": "Autostart",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "x": 231,
        "y": 308.5,
        "wires": [
            [
                "dcde606a.eabdd8",
                "b1863312.1252a8"
            ]
        ]
    },
    {
        "id": "863fcc5b.261318",
        "type": "http in",
        "z": "325c5b48.f6846c",
        "name": "",
        "url": "/where-is-berry/getLocation",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 413,
        "y": 886,
        "wires": [
            [
                "5a1ccccc.e9e92c"
            ]
        ]
    },
    {
        "id": "5a1ccccc.e9e92c",
        "type": "function",
        "z": "325c5b48.f6846c",
        "name": "Get Location",
        "func": "msg.payload = context.global.get(\"location\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 675,
        "y": 888,
        "wires": [
            [
                "ff6bd0cb.66921",
                "3d749e6a.989232"
            ]
        ]
    },
    {
        "id": "ff6bd0cb.66921",
        "type": "http response",
        "z": "325c5b48.f6846c",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 1129,
        "y": 884,
        "wires": []
    },
    {
        "id": "3d749e6a.989232",
        "type": "debug",
        "z": "325c5b48.f6846c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1009,
        "y": 1002,
        "wires": []
    }
]
