NodeRed/ScanBeaconsUDP-HTTP.json
[
    {
        "id": "cf37dea4.290ab",
        "type": "tab",
        "label": "Scan Beacons Http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93b1e629.fbd99",
        "type": "scanBeacon",
        "z": "cf37dea4.290ab",
        "name": "",
        "beacon_uuid": "",
        "beacon_major": "",
        "beacon_minor": "",
        "x": 1139.03564453125,
        "y": 780.6071166992188,
        "wires": [
            [
                "8717e06.effdaa"
            ]
        ]
    },
    {
        "id": "282a4b4c.dcdfa4",
        "type": "inject",
        "z": "cf37dea4.290ab",
        "name": "Start Beacon",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 889.9998474121094,
        "y": 756.7857055664062,
        "wires": [
            [
                "38e3fb68.a828ec",
                "93b1e629.fbd99"
            ]
        ]
    },
    {
        "id": "cdeeab11.bb0a98",
        "type": "inject",
        "z": "cf37dea4.290ab",
        "name": "Stop Beacon",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 889.2857360839844,
        "y": 829.071533203125,
        "wires": [
            [
                "93b1e629.fbd99",
                "765ff404.2b6144"
            ]
        ]
    },
    {
        "id": "f3005e6.23f722",
        "type": "udp out",
        "z": "cf37dea4.290ab",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "12346",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1945.7740478515625,
        "y": 531.3931884765625,
        "wires": []
    },
    {
        "id": "ca211958.93723",
        "type": "http in",
        "z": "cf37dea4.290ab",
        "name": "",
        "url": "/where-is-berry/beacons",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 207.49993896484375,
        "y": 286.14288330078125,
        "wires": [
            [
                "6889954a.51891c",
                "b82794d.a9ebf68"
            ]
        ]
    },
    {
        "id": "cd481c6a.89705",
        "type": "trigger",
        "z": "cf37dea4.290ab",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 1",
        "x": 816.7142944335938,
        "y": 447.92862701416016,
        "wires": [
            [
                "93b1e629.fbd99",
                "3fb06f1d.ac1218"
            ]
        ]
    },
    {
        "id": "c2a66c00.c4953",
        "type": "trigger",
        "z": "cf37dea4.290ab",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 0",
        "x": 831,
        "y": 552.9286346435547,
        "wires": [
            [
                "93b1e629.fbd99",
                "3fb06f1d.ac1218"
            ]
        ]
    },
    {
        "id": "3fb06f1d.ac1218",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Reset Trigger",
        "func": "msg.reset = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 828.1428833007812,
        "y": 500.07152557373047,
        "wires": [
            [
                "cd481c6a.89705",
                "c2a66c00.c4953"
            ]
        ]
    },
    {
        "id": "7c0c10ef.5f4028",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 816.1428833007812,
        "y": 211.5,
        "wires": [
            [
                "cbcbcf92.67d788"
            ]
        ]
    },
    {
        "id": "cbcbcf92.67d788",
        "type": "http response",
        "z": "cf37dea4.290ab",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 1104.571533203125,
        "y": 259.19049072265625,
        "wires": []
    },
    {
        "id": "6889954a.51891c",
        "type": "switch",
        "z": "cf37dea4.290ab",
        "name": "Check Action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 304.8571472167969,
        "y": 509.07135009765625,
        "wires": [
            [
                "cd6956af.23cda"
            ],
            [
                "9ebe3fa8.faaeb8"
            ]
        ]
    },
    {
        "id": "cd6956af.23cda",
        "type": "switch",
        "z": "cf37dea4.290ab",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500.39996337890625,
        "y": 470.34291076660156,
        "wires": [
            [
                "cd481c6a.89705",
                "38e3fb68.a828ec",
                "7c0c10ef.5f4028"
            ],
            [
                "59616fc9.27f7a"
            ]
        ]
    },
    {
        "id": "9ebe3fa8.faaeb8",
        "type": "switch",
        "z": "cf37dea4.290ab",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 495.7999267578125,
        "y": 583.8429107666016,
        "wires": [
            [
                "881ebfa.f19bf4"
            ],
            [
                "c2a66c00.c4953",
                "765ff404.2b6144",
                "3a8d9e91.3612ba"
            ]
        ]
    },
    {
        "id": "38e3fb68.a828ec",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Update State to \"started\"",
        "func": "context.global.set(\"state\",\"started\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 822.39990234375,
        "y": 624.1428833007812,
        "wires": [
            []
        ]
    },
    {
        "id": "765ff404.2b6144",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Update State to \"stopped\"",
        "func": "context.global.set(\"state\",\"stopped\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 832.39990234375,
        "y": 672.142822265625,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbce87c.6efa78",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Initialize State",
        "func": "if (context.global.get(\"state\") === undefined){\n    context.global.set(\"state\",\"stopped\")\n}\nif (context.global.get(\"last_measure\") === undefined){\n    context.global.set(\"last_measure\", {'timestamp' : 0, 'uuid' : \"\", 'major' : undefined, 'minor' : undefined})\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 372.5,
        "y": 77.5,
        "wires": [
            []
        ]
    },
    {
        "id": "b82794d.a9ebf68",
        "type": "debug",
        "z": "cf37dea4.290ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 253.74993896484364,
        "y": 686.2499999999998,
        "wires": []
    },
    {
        "id": "3a8d9e91.3612ba",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 817.7999267578125,
        "y": 359.8428955078125,
        "wires": [
            [
                "cbcbcf92.67d788"
            ]
        ]
    },
    {
        "id": "881ebfa.f19bf4",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 307.8428955078125,
        "wires": [
            [
                "cbcbcf92.67d788"
            ]
        ]
    },
    {
        "id": "59616fc9.27f7a",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 261.8428955078125,
        "wires": [
            [
                "cbcbcf92.67d788"
            ]
        ]
    },
    {
        "id": "52d3f9dc.cee3f",
        "type": "start-up-trigger",
        "z": "cf37dea4.290ab",
        "x": 136.25,
        "y": 78.125,
        "wires": [
            [
                "7fbce87c.6efa78"
            ]
        ]
    },
    {
        "id": "b55ef2a3.a26e8",
        "type": "debug",
        "z": "cf37dea4.290ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2100.625,
        "y": 616.2500305175781,
        "wires": []
    },
    {
        "id": "33d39b47.bcc34c",
        "type": "json",
        "z": "cf37dea4.290ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1894.375,
        "y": 617.5000305175781,
        "wires": [
            [
                "b55ef2a3.a26e8"
            ]
        ]
    },
    {
        "id": "8717e06.effdaa",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Add Timestamp and Filter",
        "func": "var pay = JSON.parse(msg.payload)\nvar ts = new Date().getTime()\npay.timestamp = ts\nmsg.payload = JSON.stringify(pay)\n\nvar last_meas = context.global.get('last_measure')\nif(pay.uuid != last_meas.uuid || pay.major != last_meas.major || pay.minor != last_meas.minor || (ts - last_meas.timestamp) >= 10 ){\n    msg.check = 1\n}else{\n    msg.check = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1350,
        "y": 716.25,
        "wires": [
            [
                "6c5f19ba.584b6"
            ]
        ]
    },
    {
        "id": "6c5f19ba.584b6",
        "type": "switch",
        "z": "cf37dea4.290ab",
        "name": "Check",
        "property": "check",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1537.4998779296875,
        "y": 638.749755859375,
        "wires": [
            [
                "ad068646.c43f7"
            ]
        ]
    },
    {
        "id": "ad068646.c43f7",
        "type": "function",
        "z": "cf37dea4.290ab",
        "name": "Update last_measure",
        "func": "context.global.set('last_measure', JSON.parse(msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1709.375,
        "y": 572.5,
        "wires": [
            [
                "f3005e6.23f722",
                "33d39b47.bcc34c"
            ]
        ]
    }
]
