NodeRed/ScanBeaconsUDP-HTTP.json
[
    {
        "id": "1ddac9b8.50d94e",
        "type": "tab",
        "label": "Scan Beacons Http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0022df1.a59b18",
        "type": "scanBeacon",
        "z": "1ddac9b8.50d94e",
        "name": "",
        "beacon_uuid": "",
        "beacon_major": "",
        "beacon_minor": "",
        "x": 1205.28564453125,
        "y": 716.8571166992188,
        "wires": [
            [
                "d949dca4.f505c"
            ]
        ]
    },
    {
        "id": "b97684d4.352118",
        "type": "inject",
        "z": "1ddac9b8.50d94e",
        "name": "Start Beacon",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 249.99981689453125,
        "y": 806.7857055664062,
        "wires": [
            [
                "14483644.72d71a",
                "d0022df1.a59b18"
            ]
        ]
    },
    {
        "id": "2de995.0eb2ee6c",
        "type": "inject",
        "z": "1ddac9b8.50d94e",
        "name": "Stop Beacon",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 249.28570556640625,
        "y": 879.071533203125,
        "wires": [
            [
                "d0022df1.a59b18",
                "e3bc14c0.52a49"
            ]
        ]
    },
    {
        "id": "d949dca4.f505c",
        "type": "udp out",
        "z": "1ddac9b8.50d94e",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "12346",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1492.8572998046875,
        "y": 720.1431274414062,
        "wires": []
    },
    {
        "id": "e4c3efc0.57193",
        "type": "http in",
        "z": "1ddac9b8.50d94e",
        "name": "",
        "url": "/where-is-berry/beacons",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 207.49993896484375,
        "y": 286.14288330078125,
        "wires": [
            [
                "9f433f7f.df2608",
                "4b95e43c.cd0484"
            ]
        ]
    },
    {
        "id": "87fa1e17.85179",
        "type": "trigger",
        "z": "1ddac9b8.50d94e",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 1",
        "x": 816.7142944335938,
        "y": 447.92862701416016,
        "wires": [
            [
                "d0022df1.a59b18",
                "2a65a0b9.f23e98"
            ]
        ]
    },
    {
        "id": "c128d81c.2df108",
        "type": "trigger",
        "z": "1ddac9b8.50d94e",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 0",
        "x": 831,
        "y": 552.9286346435547,
        "wires": [
            [
                "d0022df1.a59b18",
                "2a65a0b9.f23e98"
            ]
        ]
    },
    {
        "id": "2a65a0b9.f23e98",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Reset Trigger",
        "func": "msg.reset = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 828.1428833007812,
        "y": 500.07152557373047,
        "wires": [
            [
                "87fa1e17.85179",
                "c128d81c.2df108"
            ]
        ]
    },
    {
        "id": "7c307a63.fa8cfc",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 816.1428833007812,
        "y": 211.5,
        "wires": [
            [
                "ed4db2dd.c25e5"
            ]
        ]
    },
    {
        "id": "ed4db2dd.c25e5",
        "type": "http response",
        "z": "1ddac9b8.50d94e",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 1104.571533203125,
        "y": 259.19049072265625,
        "wires": []
    },
    {
        "id": "9f433f7f.df2608",
        "type": "switch",
        "z": "1ddac9b8.50d94e",
        "name": "Check Action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 304.8571472167969,
        "y": 509.07135009765625,
        "wires": [
            [
                "41cb7338.a733cc"
            ],
            [
                "83f95f4b.98bb3"
            ]
        ]
    },
    {
        "id": "41cb7338.a733cc",
        "type": "switch",
        "z": "1ddac9b8.50d94e",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500.39996337890625,
        "y": 470.34291076660156,
        "wires": [
            [
                "87fa1e17.85179",
                "14483644.72d71a",
                "7c307a63.fa8cfc"
            ],
            [
                "a437f819.e59e5"
            ]
        ]
    },
    {
        "id": "83f95f4b.98bb3",
        "type": "switch",
        "z": "1ddac9b8.50d94e",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 495.7999267578125,
        "y": 583.8429107666016,
        "wires": [
            [
                "d0c655ae.667408"
            ],
            [
                "c128d81c.2df108",
                "e3bc14c0.52a49",
                "a9464af6.37b3"
            ]
        ]
    },
    {
        "id": "14483644.72d71a",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Update State to \"started\"",
        "func": "context.global.set(\"state\",\"started\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 822.39990234375,
        "y": 624.1428833007812,
        "wires": [
            []
        ]
    },
    {
        "id": "e3bc14c0.52a49",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Update State to \"stopped\"",
        "func": "context.global.set(\"state\",\"stopped\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 832.39990234375,
        "y": 672.142822265625,
        "wires": [
            []
        ]
    },
    {
        "id": "eddba6fd.ef1cc8",
        "type": "start-up-trigger",
        "z": "1ddac9b8.50d94e",
        "x": 136.25,
        "y": 78.125,
        "wires": [
            [
                "c412d9a7.f04ca8"
            ]
        ]
    },
    {
        "id": "c412d9a7.f04ca8",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Initialize State",
        "func": "if (context.global.get(\"state\") == undefined){\n    context.global.set(\"state\",\"stopped\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 372.5,
        "y": 77.5,
        "wires": [
            []
        ]
    },
    {
        "id": "4b95e43c.cd0484",
        "type": "debug",
        "z": "1ddac9b8.50d94e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 253.74993896484364,
        "y": 686.2499999999998,
        "wires": []
    },
    {
        "id": "a9464af6.37b3",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 817.7999267578125,
        "y": 359.8428955078125,
        "wires": [
            [
                "ed4db2dd.c25e5"
            ]
        ]
    },
    {
        "id": "d0c655ae.667408",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 307.8428955078125,
        "wires": [
            [
                "ed4db2dd.c25e5"
            ]
        ]
    },
    {
        "id": "a437f819.e59e5",
        "type": "function",
        "z": "1ddac9b8.50d94e",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 261.8428955078125,
        "wires": [
            [
                "ed4db2dd.c25e5"
            ]
        ]
    }
]
