NodeRed/ScanBeaconsUDP-HTTP.json
[
    {
        "id": "3939ba98.0ea6e6",
        "type": "tab",
        "label": "Scan Beacons Http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "668a5c06.2b3d6c",
        "type": "scanBeacon",
        "z": "3939ba98.0ea6e6",
        "name": "",
        "beacon_uuid": "",
        "beacon_major": "",
        "beacon_minor": "",
        "x": 1150.28564453125,
        "y": 741.8571166992188,
        "wires": [
            [
                "c48c76b3.f10c68"
            ]
        ]
    },
    {
        "id": "4b71379d.5433f8",
        "type": "inject",
        "z": "3939ba98.0ea6e6",
        "name": "Start Beacon",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 249.99981689453125,
        "y": 806.7857055664062,
        "wires": [
            [
                "6e72ce26.39c038",
                "668a5c06.2b3d6c"
            ]
        ]
    },
    {
        "id": "e8a5a9c5.c213a",
        "type": "inject",
        "z": "3939ba98.0ea6e6",
        "name": "Stop Beacon",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 249.28570556640625,
        "y": 879.071533203125,
        "wires": [
            [
                "668a5c06.2b3d6c",
                "97882bf4.53af6"
            ]
        ]
    },
    {
        "id": "ed6b1468.6f332",
        "type": "udp out",
        "z": "3939ba98.0ea6e6",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "12346",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1559.5240478515625,
        "y": 490.1430969238281,
        "wires": []
    },
    {
        "id": "e9fab98e.8d0048",
        "type": "http in",
        "z": "3939ba98.0ea6e6",
        "name": "",
        "url": "/where-is-berry/beacons",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 207.49993896484375,
        "y": 286.14288330078125,
        "wires": [
            [
                "17e226c7.69ef99",
                "9532fab6.a7ed78"
            ]
        ]
    },
    {
        "id": "c9718984.39bf4",
        "type": "trigger",
        "z": "3939ba98.0ea6e6",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 1",
        "x": 816.7142944335938,
        "y": 447.92862701416016,
        "wires": [
            [
                "668a5c06.2b3d6c",
                "2ba06201.dd7c2e"
            ]
        ]
    },
    {
        "id": "a8d02f67.1a468",
        "type": "trigger",
        "z": "3939ba98.0ea6e6",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger 0",
        "x": 831,
        "y": 552.9286346435547,
        "wires": [
            [
                "668a5c06.2b3d6c",
                "2ba06201.dd7c2e"
            ]
        ]
    },
    {
        "id": "2ba06201.dd7c2e",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Reset Trigger",
        "func": "msg.reset = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 828.1428833007812,
        "y": 500.07152557373047,
        "wires": [
            [
                "c9718984.39bf4",
                "a8d02f67.1a468"
            ]
        ]
    },
    {
        "id": "d4b64288.a7fd1",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 816.1428833007812,
        "y": 211.5,
        "wires": [
            [
                "a982eccb.ee668"
            ]
        ]
    },
    {
        "id": "a982eccb.ee668",
        "type": "http response",
        "z": "3939ba98.0ea6e6",
        "name": "Http Response",
        "statusCode": "",
        "headers": {},
        "x": 1104.571533203125,
        "y": 259.19049072265625,
        "wires": []
    },
    {
        "id": "17e226c7.69ef99",
        "type": "switch",
        "z": "3939ba98.0ea6e6",
        "name": "Check Action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 304.8571472167969,
        "y": 509.07135009765625,
        "wires": [
            [
                "c8a4923a.a8f3d"
            ],
            [
                "12180f79.d7e591"
            ]
        ]
    },
    {
        "id": "c8a4923a.a8f3d",
        "type": "switch",
        "z": "3939ba98.0ea6e6",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500.39996337890625,
        "y": 470.34291076660156,
        "wires": [
            [
                "c9718984.39bf4",
                "6e72ce26.39c038",
                "d4b64288.a7fd1"
            ],
            [
                "6c9ae777.838"
            ]
        ]
    },
    {
        "id": "12180f79.d7e591",
        "type": "switch",
        "z": "3939ba98.0ea6e6",
        "name": "Check State",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "stopped",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "started",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 495.7999267578125,
        "y": 583.8429107666016,
        "wires": [
            [
                "ac0c7ecc.c42288"
            ],
            [
                "a8d02f67.1a468",
                "97882bf4.53af6",
                "87b89296.c12e98"
            ]
        ]
    },
    {
        "id": "6e72ce26.39c038",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Update State to \"started\"",
        "func": "context.global.set(\"state\",\"started\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 822.39990234375,
        "y": 624.1428833007812,
        "wires": [
            []
        ]
    },
    {
        "id": "97882bf4.53af6",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Update State to \"stopped\"",
        "func": "context.global.set(\"state\",\"stopped\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 832.39990234375,
        "y": 672.142822265625,
        "wires": [
            []
        ]
    },
    {
        "id": "6d8c90c6.7e2148",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Initialize State",
        "func": "if (context.global.get(\"state\") == undefined){\n    context.global.set(\"state\",\"stopped\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 372.5,
        "y": 77.5,
        "wires": [
            []
        ]
    },
    {
        "id": "9532fab6.a7ed78",
        "type": "debug",
        "z": "3939ba98.0ea6e6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 253.74993896484364,
        "y": 686.2499999999998,
        "wires": []
    },
    {
        "id": "87b89296.c12e98",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 817.7999267578125,
        "y": 359.8428955078125,
        "wires": [
            [
                "a982eccb.ee668"
            ]
        ]
    },
    {
        "id": "ac0c7ecc.c42288",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already stopped\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 307.8428955078125,
        "wires": [
            [
                "a982eccb.ee668"
            ]
        ]
    },
    {
        "id": "6c9ae777.838",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Build Response",
        "func": "msg.payload = \"Beacon scanning is already started\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 821.7999267578125,
        "y": 261.8428955078125,
        "wires": [
            [
                "a982eccb.ee668"
            ]
        ]
    },
    {
        "id": "fcc55dab.814ca8",
        "type": "start-up-trigger",
        "z": "3939ba98.0ea6e6",
        "x": 136.25,
        "y": 78.125,
        "wires": [
            [
                "6d8c90c6.7e2148"
            ]
        ]
    },
    {
        "id": "c48c76b3.f10c68",
        "type": "function",
        "z": "3939ba98.0ea6e6",
        "name": "Add Timestamp",
        "func": "var pay = JSON.parse(msg.payload)\npay.timestamp = new Date().getTime()\nmsg.payload = JSON.stringify(pay)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1334.1666259765625,
        "y": 584.583251953125,
        "wires": [
            [
                "ed6b1468.6f332"
            ]
        ]
    }
]
