NodeRed/ScanBeaconsMQTT.json
[
    {
        "id": "e20bda1e.887a48",
        "type": "tab",
        "label": "MQTT",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bf93c24a.1d8c28",
        "type": "mosca in",
        "z": "e20bda1e.887a48",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 613,
        "y": 118.5,
        "wires": [
            []
        ]
    },
    {
        "id": "3c3c3b08.e9dcac",
        "type": "scanBeacon",
        "z": "e20bda1e.887a48",
        "name": "",
        "beacon_uuid": "",
        "beacon_major": "",
        "beacon_minor": "",
        "x": 565,
        "y": 369.5,
        "wires": [
            [
                "c9e27d2d.3dde18"
            ]
        ]
    },
    {
        "id": "a268e501.bec86",
        "type": "mqtt out",
        "z": "e20bda1e.887a48",
        "name": "",
        "topic": "beacon/rssi",
        "qos": "",
        "retain": "",
        "broker": "fce1453d.d338e8",
        "x": 1029,
        "y": 387,
        "wires": []
    },
    {
        "id": "338abdf3.9a08aa",
        "type": "inject",
        "z": "e20bda1e.887a48",
        "name": "Start Beacon",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 221,
        "y": 290.5,
        "wires": [
            [
                "3c3c3b08.e9dcac"
            ]
        ]
    },
    {
        "id": "71efd125.51259",
        "type": "inject",
        "z": "e20bda1e.887a48",
        "name": "Stop Beacon",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 225,
        "y": 398.5,
        "wires": [
            [
                "3c3c3b08.e9dcac"
            ]
        ]
    },
    {
        "id": "defe56db.710008",
        "type": "mqtt in",
        "z": "e20bda1e.887a48",
        "name": "",
        "topic": "beacon/rssi",
        "qos": "2",
        "broker": "fce1453d.d338e8",
        "x": 253,
        "y": 584.5,
        "wires": [
            [
                "58ab3f13.beff6"
            ]
        ]
    },
    {
        "id": "7ef13b80.28e2ec",
        "type": "debug",
        "z": "e20bda1e.887a48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 988.3333740234375,
        "y": 191.66665649414062,
        "wires": []
    },
    {
        "id": "c9e27d2d.3dde18",
        "type": "json",
        "z": "e20bda1e.887a48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 755,
        "y": 356.5,
        "wires": [
            [
                "7ef13b80.28e2ec",
                "a268e501.bec86"
            ]
        ]
    },
    {
        "id": "58ab3f13.beff6",
        "type": "json",
        "z": "e20bda1e.887a48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 567,
        "y": 582.5,
        "wires": [
            [
                "38ee895e.9ea36e"
            ]
        ]
    },
    {
        "id": "38ee895e.9ea36e",
        "type": "debug",
        "z": "e20bda1e.887a48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 918.9999999999998,
        "y": 588.9999999999999,
        "wires": []
    },
    {
        "id": "fce1453d.d338e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
